@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f5f7;
}

/* Slide in and Fadein Animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Mobile menu overly */
.backdrop {
  animation: fadeIn 850ms cubic-bezier(0.14, 0.78, 0.36, 1);
}

/* Mobile menu container */
.drawer {
  animation: slideIn 500ms cubic-bezier(0.14, 0.78, 0.36, 1);
}
